<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.icono.plugin.beatone">
   <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-feature android:name="android.hardware.camera"></uses-feature>
    <uses-permission android:name="android.permission.FLASHLIGHT"></uses-permission>
    <uses-feature android:name="android.hardware.camera.flash"></uses-feature>
</manifest>
